<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="filter.css">
</head>
<body>
<aside>
  <div class="filter">
    <div class="filter__header">
      <label>Filters</label>
      <button type="button" class="header__button-return">
        <img src="../../../assets/path_left.svg">
        <img src="../../../assets/path_left.svg">
      </button>
    </div>
    <div class="filter__card">
      <div class="card__ranges">
        <label class="list__heading">Multi Range</label>
        <ul class="list">
          <li><input type="radio" id="10" name="range" value="10">
            <label for="10">$10</label></li>
          <li><input type="radio" id="10-100" name="range" value="10-100">
            <label for="10">$10-$100</label></li>
          <li><input type="radio" id="100-500" name="range" value="100-500">
            <label for="10">$100-$500</label></li>
          <li><input type="radio" id="500" name="range" value="500">
            <label for="10">$500</label></li>
          <li><input type="radio" id="all" name="range">
            <label for="all">All</label></li>
        </ul>

      </div>
      <div class="card__spacer"></div>
      <div class="card__categories">
        <label class="list__heading">Category</label>
        <ul class="list">
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> Cell Phones
            </label>

            <span>1920</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> Computers & Tablets
            </label>

            <span>1820</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> Cell Phone Accessories
            </label>

            <span>462</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> Appliances
            </label>

            <span>6556</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> Audio
            </label>

            <span>120</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> IPhone Accessories
            </label>

            <span>353</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> Cameras & Camcorders
            </label>

            <span>45</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> IPhone Cases & Clips
            </label>

            <span>456</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> TV & Home Theaters
            </label>

            <span>55</span>
          </li>
          <li class="list__element">
            <label for="category">
              <input type="checkbox"  name="category"> Small Kitchen Appliances
            </label>

            <span>10</span>
          </li>
        </ul>
      </div>
      <div class="card__spacer"></div>
      <div class="card__brands">
        <label class="list__heading">Brand</label>
        <ul class="list">
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Insigni
            </label>

            <span>220</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Samsung
            </label>

            <span>120</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Apple
            </label>

            <span>320</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> HP
            </label>

            <span>32</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Sony
            </label>

            <span>520</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Metra
            </label>

            <span>55</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Dyne
            </label>

            <span>120</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> LG
            </label>

            <span>98</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Canon
            </label>

            <span>99</span>
          </li>
          <li class="list__element">
            <label for="brand">
              <input type="checkbox"  name="brand"> Speck
            </label>

            <span>575</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="filter__bottom">
      <button type="button" class="bottom__button-clear">
        clear all filters
      </button>
    </div>
  </div>
</aside>
</body>
</html>
