<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="header.css">
</head>
<body>
<div class="header">
  <div class="header-content">
    <a href="#">
      <img src="../../../assets/logo.png" class="logo">
    </a>
    Online Store
  </div>
  <div class="breadcrumbs">
    <ul>
      <li><a href="#"><i class="bi bi-house-door breadcrumb-icon"></i></a></li>
      <li><a href="#">eCommerce</a></li>
      <li><a href="#" class="active">Electronics</a></li>
    </ul>
  </div>
</div>
</body>
</html>
