* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  width: 100%;
}
.header__link {
  padding: 0.5rem;
}
.header__link:hover {
  background-color: rgba(0, 0, 0, 0.1625);
}
.header__logo {
  height: 7.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 3.8rem;
  gap: 2rem;
  font-size: 4.8rem;
  font-weight: 600;
  color: #7e72f2;
}
.header__image {
  width: 92px;
}

.breadcrumbs__list {
  list-style: none;
}
.breadcrumbs__element {
  display: inline;
  vertical-align: middle;
  font-size: 1.4rem;
  font-weight: 400;
  color: #7e72f2;
}
.breadcrumbs__link {
  text-decoration: none;
}
.breadcrumbs__link:hover {
  color: #01447e;
  text-decoration: underline;
}
.breadcrumbs__link--active {
  color: #2c2c2c;
}
.breadcrumbs__element + .breadcrumbs__element:before {
  padding: 0.8rem;
  color: #000;
  content: url("../../assets/path.svg") url("../../assets/path.svg");
}
.breadcrumbs__icon {
  font-size: large;
}

.filter {
  width: 560px;
  margin: 3rem 1.5rem 3rem 3rem;
  color: #2c2c2c;
}
.filter__overtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 1.4rem;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
.filter__button-return {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 0.3rem;
  height: 40px;
  width: 44px;
  content: url("../../../assets/path.svg") url("../../../assets/path.svg");
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border: 0;
  background-color: #fff;
  cursor: pointer;
  border-radius: 8px;
}
.filter__content {
  width: 560px;
  padding: 20px 10% 10px;
  margin-bottom: 1.6rem;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}
.filter__title {
  font-size: 1.8rem;
  font-weight: 600;
}
.filter__categories {
  width: 400px;
}
.filter__spacer {
  border: #D6D6D6 solid 1px;
  margin-bottom: 1em;
  width: 400px;
}
.filter__bottom {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch;
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 1.6rem 0;
}
.filter__button-clear {
  width: 100%;
  height: 56px;
  color: #fff;
  background: #6f64f8;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border: 0;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}

.category-list {
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 1.6rem;
}
.category-list__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.category-list__element + .category-list__element {
  padding: 0.4rem 0;
}

.main-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
}

.search-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 1.4rem;
  font-size: 1.8rem;
  height: 62px;
  padding: 0 3rem;
  margin: 0 1.4rem 0 0;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  font-size: 2.2rem;
}
.search-box__input {
  width: 100%;
  border: 0;
  font-size: 2.2rem;
  font-weigth: 300;
  outline: none;
  color: #6f64f8;
}

.main-content {
  margin: 3rem 1.5rem;
  width: 100%;
}
.main-content__overtop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 40px;
  padding-left: 1.4rem;
  font-size: 1.8rem;
  margin-right: 20px;
  margin-bottom: 1.4rem;
}
.main-content__button-wishlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 1.8rem;
  height: 40px;
  width: 44px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border: 0;
  color: #fff;
  background-color: #6f64f8;
  cursor: pointer;
  border-radius: 8px;
}
.main-content__card-grid {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 486px 486px;
  gap: 28px 28px;
  place-items: start center;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 400px;
  height: 486px;
  margin: 1.4rem;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 0.8rem;
}
.card__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem;
  height: 30rem;
}
.card__image {
  display: block;
  margin: 0 auto;
}
.card__spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.card__props {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin: 0 1.6em;
  font-weight: 400;
  font-size: 1.125em;
}
.card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  padding: 0.6rem 1.2rem;
  font-weight: 400;
  color: #fff;
  background: #6F64F8;
  border-radius: 3px;
}
.card__price {
  padding: 0.6rem 1.2rem;
}
.card__price::before {
  content: "$ ";
}
.card__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: wrap column;
  flex-flow: wrap column;
  gap: 0.3rem;
  margin: 1.8em;
  -ms-flex-line-pack: justify;
  align-content: space-between;
  color: #2c2c2c;
}
.card__title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}
.card__subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}
.card__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 400px;
}
.card__button {
  height: 45px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
.card__icons {
  vertical-align: middle;
  margin-right: 0.8rem;
}

.wishlist {
  background: #ededed;
  border-radius: 0 0 0 8px;
}

.cart {
  background: #6f64f8;
  color: #fff;
  border-radius: 0 0 8px 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 40px;
  margin: 2.8rem auto;
}
.pagination__link {
  color: black;
  border-radius: 50px;
  padding: 8px 16px;
  text-decoration: none;
}
.pagination__link--active {
  background-color: #6f64f8;
  color: white;
}
.pagination__link:hover:not(pagination__link--active) {
  background-color: #ddd;
}
.pagination__link:nth-child(2) {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}
.pagination__link:nth-last-child(2) {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.pagination__image {
  height: 1.4rem;
  width: 0.9rem;
}
.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  height: 100%;
  background: #EDEDED;
}

@media screen and (max-width: 1200px) {
  .filter {
    width: 100%;
    padding: 0 5vw;
  }
  .filter__categories {
    width: 90%;
  }

  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
  }
  .main-content__overtop {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 40px;
  }
  .main-content__card-grid {
    grid-template-columns: 400px 400px;
    gap: 28px 28px;
    place-items: start center;
  }

  .main-wrapper {
    width: 95vw;
  }
}
@media screen and (max-width: 720px) {
  .sidebar {
    display: none;
  }

  .main-wrapper {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .main-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .main-content__card-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .sidebar {
    display: none;
  }

  .header__logo {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    font-size: 3em;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .header__image {
    display: block;
    width: 50vw;
  }

  .main-content {
    width: 100%;
  }
  .main-content__card-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 486px 486px;
    gap: 14px 14px;
    place-items: start center;
  }
}
/*# sourceMappingURL=style.css.map */
