<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" type="text/css" href="card.css">
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card-photo">
      <img class="photo" src="../../../assets/apple-watch.png" alt="Apple Watch series 4 photo">
    </div>
    <div class="spacer"></div>
    <div class="card-props">
      <div class="rating">4.5 <i class="material-icons">star_border</i></div>
      <div class="price"> $ 399</div>
    </div>
    <div class="card-text">
      <span class="card-title">Apple Watch Series 4 GPS</span>
      <span class="card-subtitle">Redesigned from scratch and completely revised.</span>
    </div>
    <div class="card-footer">
      <button type="button" class="footer-button wishlist"> <i class="material-icons button-icons">favorite_border</i> Wishlist</button>
      <button type="button" class="footer-button cart"> <i class="material-icons button-icons">add_shopping_cart</i> Add to card</button>
    </div>
  </div>
</div>
</body>
</html>
