<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
  <link rel="stylesheet" type="text/css" href="card.css">
</head>
<body>
<div class="container">
  <div class="card">
    <div class="card-photo">
      <img class="photo" src="../../../assets/apple-watch.png">
    </div>
    <div class="spacer"></div>
    <div class="card-props">
      <div class="rating">4.5 <i class="bi bi-star"></i></div>
      <div class="spacer"></div>
      <div class="price">399</div>
    </div>
    <div class="card-text">
      <span class="card-title">Apple Watch Series 4 GPS</span>
      <span class="card-subtitle">Redesigned from scratch and completely revised.</span>
    </div>
    <div class="card-footer">
      <button type="button" class="footer-button wishlist"> <i class="bi bi-heart button-icons"></i> Wishlist</button>
      <button type="button" class="footer-button cart"> <i class="bi bi-bag-plus button-icons"></i> Add to card</button>
    </div>
  </div>
</div>
</body>
</html>
