* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header {
  width: 100%;
  a {
    padding: 0.5rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1625);
    }
  }
}
.header-content {
  height: 7.2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  margin: 3.8rem;
  gap: 2rem;
  font-size: 4.8rem;
  font-weight: 600;
  color: #7e72f2;
}
.logo {
  width: 92px;
}
.breadcrumbs {
  list-style: none;
  li {
    display: inline;
    vertical-align: middle;
    font-size: 1.4rem;
    font-weight: 400;
    color: #7e72f2;
    a {
      color: #7e72f2;
      text-decoration: none;
      &:hover {
        color: #01447e;
        text-decoration: underline;
      }
    }
    a.active {
      color: #2c2c2c;
    }
  }
  li+li {
    &:before {
      padding: 0.8rem;
      color: #000;
      content: url("../../../assets/path.svg") url("../../../assets/path.svg");
    }
  }
}
.breadcrumb-icon {
  font-size: large;
}
.filter {
  width: 560px;
  margin: 3rem 1.5rem 3rem 3rem;
  color: #2c2c2c;
}
.filter__header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-left: 1.4rem;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}
label.list__heading {
  font-size: 1.8rem;
  font-weight: 600;
}
.header__button-return {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  height: 40px;
  width: 44px;
  content: url("../../../assets/path.svg")url("../../../assets/path.svg");
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border: 0;
  background-color: #fff;
  cursor: pointer;
  border-radius: 8px;
}
.filter__card {
  width: 560px;
  padding: 20px 10% 10px;
  margin-bottom: 1.6rem;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}
.card__ranges {
  width: 400px;
}
.card__categories {
  width: 400px;
}
.card__brands {
  width: 400px;
}
.card__spacer {
  border: #D6D6D6 solid 1px;
  margin-bottom: 1em;
  width: 400px;
}
.list {
  padding: 0;
  list-style: none;
  font-weight: 300;
  font-size: 1.6rem;
  li+li {
    padding: 0.4rem 0;
  }
}
.list__element {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.filter__bottom {
  width: 100%;
  display: flex;
  justify-content: stretch;
  align-content: center;
  margin: 1.6rem 0;
}
.bottom__button-clear {
  width: 100%;
  height: 56px;
  color: #fff;
  background: #6f64f8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border: 0;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase;
}
main {
  display: flex;
  flex-flow: row nowrap;
}
.main-content {
  margin: 3rem 1.5rem;
  width: 100%;
}
.main__header {
  width: 100%;
  margin-right: 20px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  padding-left: 1.4rem;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
.header__button-wishlist {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  height: 40px;
  width: 44px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border: 0;
  color: #fff;
  background-color: #6f64f8;
  cursor: pointer;
  border-radius: 8px;
}
.main__search-box {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 62px;
  padding: 0 3rem;
  margin: 0 1.4rem 0 0;
  background: #FFFFFF;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
  font-size: 2.2rem;
}
.main__input-search {
  width: 100%;
  border: 0;
  font-size: 2.2rem;
  font-weigth: 300;
  outline: none;
  color: #6f64f8;
}
.card {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 486px;
  margin: 1.4rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 0.8rem;
}
.card-photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  height: 30rem;
}
.photo {
  display: block;
  margin: 0 auto;
}
.spacer {
  flex: 1 0 auto;
}
.card-props {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin: 0 1.6em;
  font-weight: 400;
  font-size: 1.125em;
}
.rating {
  display: flex;
  gap: 1rem;
  padding: 0.6rem 1.2rem;
  font-weight: 400;
  color: #fff;
  background: #6F64F8;
  border-radius: 3px;
}
.price {
  padding: 0.6rem 1.2rem;
  &::before {
    content: "$ ";
  }
}
.card-text {
  display: inline-flex;
  flex-flow: wrap column;
  gap: 0.3rem;
  margin: 1.8em;
  align-content: space-between;
  color: #2c2c2c;
}
.card-title {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}
.card-subtitle {
  font-size: 1.2rem;
  font-weight: 300;
}
.card-footer {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}
.footer-button {
  height: 45px;
  width: 100%;
  border: none;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
}
.button-icons {
  vertical-align: middle;
  margin-right: 0.8rem;
}
.wishlist {
  background: #ededed;
  border-radius: 0 0 0 8px;
}
.cart {
  background: #6f64f8;
  color: #fff;
  border-radius: 0 0 8px 0;
}
.main__card-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 486px 486px;
  gap: 28px 28px;
  place-items: start center;
}
.main__pagination {
  margin: 2.8rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  a {
    color: black;
    border-radius: 50px;
    padding: 8px 16px;
    text-decoration: none;
    &:hover {
      &:not(.active) {
        background-color: #ddd;
      }
    }
    img {
      height: 1.4rem;
      width: 0.9rem;
    }
  }
  a.active {
    background-color: #6f64f8;
    color: white;
  }
}
.pagination__list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 50px;
  height: 100%;
  background: #EDEDED;
  a {
    &:nth-child(2) {
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
    &:nth-last-child(2) {
      border-top-right-radius: 50px;
      border-bottom-right-radius: 50px;
    }
  }
}
@media screen and (max-width: 1200px) {
  .filter {
    width: 100%;
    padding: 0 5vw;
  }
  .main__header {
    justify-content: space-between;
    align-items: center;
    height: 40px;
  }
  main {
    width: 95vw;
  }
  .main-content {
    display: flex;
    flex-flow: row wrap;
  }
  .card__ranges {
    width: 90%;
  }
  .card__categories {
    width: 90%;
  }
  .card__brands {
    width: 90%;
  }
  .main__card-list {
    grid-template-columns: 400px 400px;
    gap: 28px 28px;
    place-items: start center;
  }
}
@media screen and (max-width: 720px) {
  aside {
    display: none;
  }
  main {
    width: 100%;
    flex-wrap: wrap;
  }
  .main-content {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .main__card-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .header-content {
    height: fit-content;
    font-size: 3em;
    flex-flow: row wrap;
    justify-content: center;
  }
  a {
    .logo {
      display: block;
      width: 50vw;
    }
  }
  aside {
    display: none;
  }
  .main-content {
    width: 100%;
  }
  .main__card-list {
    grid-template-columns: 1fr;
    grid-template-rows: 486px 486px;
    gap: 14px 14px;
    place-items: start center;
  }
}
